.Board {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgb(150, 230, 157);
  position: relative;

  #confetti-holder {
    position: absolute;
    pointer-events: none;
  }

  .Board-wrapper {
    display: grid;
    grid-gap: 1vw;
    grid-template-columns: repeat(5, 8vw);
    grid-template-rows: repeat(5, 8vw);
    grid-auto-flow: row;

    @media (max-width: 991px) {
      grid-template-columns: repeat(5, 18vw);
      grid-template-rows: repeat(5, 18vw);
      font-size: 60%;
    }

    .box {
      background-color: white;
      border-radius: 5px;
      padding: 1vw;

      &.active {
        color: lightgrey;
        text-decoration: line-through;
      }
    }
  }
}
