.Board {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgb(150, 230, 157);
  position: relative;

  #confetti-holder {
    position: absolute;
    pointer-events: none;
  }

  .Board-wrapper {
    display: grid;
    grid-gap: 0.7vw;
    grid-auto-flow: row;

    @media (max-width: 991px) {
      font-size: 60%;
    }

    .box {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      border-radius: 5px;
      padding: 1vw;
      font-weight: 500;
      cursor: pointer;
      text-align: center;

      &.active {
        color: lightgrey;
        animation: anim 0.8s ease-out;
        text-decoration: line-through;
      }

      @keyframes anim {
        from {
          background-color: lightgrey;
          color: black;
        }
        to {
          background-color: white;
          color: lightgrey;
        }
      }
    }

    .box-center {
      padding: 0;
      cursor: auto;

      .circle {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 3px solid black;
        border-radius: 50%;
        width: 100%;
        height: 100%;
        font-size: 1.2em;
      }
    }
  }
}
