.Board {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgb(150, 230, 157);
  position: relative;

  #confetti-holder {
    position: absolute;
    pointer-events: none;
  }

  .Board-wrapper {
    display: grid;
    grid-gap: 0.5vw;
    grid-template-columns: repeat(5, 9vw);
    grid-template-rows: repeat(5, 9vw);
    grid-auto-flow: row;

    .box {
      background-color: white;
      border-radius: 5px;
      padding: 20px;
      font-size: 120%;

      &.active {
        color: lightgrey;
        text-decoration: line-through;
      }
    }
  }
}
